page-home {
  .grid {
    padding: 5px 30px;
    .imageIconContainer {
      text-align: center;
      .imageIcon {
        height: 100px;
        margin: auto;
        box-shadow: 3px 3px 6px #888888;
      }
      .labelIcon {
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }
}

